.box {
    padding: 2.5em;
    text-align: left;
    font-size: 22px;
    color: $dark-text-color;
    .upper-message {
        grid-area: message;
        h1 {
            font-size: 4rem;
            font-weight: normal;
            margin-bottom: 1em;
        }
    }
    .left {
        grid-area: content;
    }
    .right {
        grid-area: secondary;
    }
    .main-link {
        margin-top: 12px;
        color: white;
        text-decoration: none;
        display: flex;
        align-items: center;
        align-content: center;
        a {
            background-color: #FFFFFF;
            text-decoration: none;
            color: $dark-text-color;
            padding: 0.1em 0.5em 0.1em 0.5em;
        }
    }
    p {
        font-size: 1em;
        color: $dark-text-color;
    }
}

// Grid Areas
.psychologist-box {
    grid-area: phd;
    display: grid;
    grid-template-areas: "message . secondary" "content . secondary";
    grid-template-columns: 50% auto;
    background-color: $blue-color;
}

.author-box {
    grid-area: author;
    background-color: $green-color;
}

.speaker-box {
    grid-area: speaker;
    background-color: $red-color;
}

.human-box {
    grid-area: person;
    background-color: $yellow-color;
}

