// lil chevron for links
.arrow {
    width: 0.5em;
    height: 0.5em;
    background: transparent;
    border-top: .1rem solid white;
    border-right: .1rem solid white;
    padding: 1px;
    box-shadow: 0 0 0 lightgrey;
    transform: rotate(45deg);
}

// Book Buy Button
.buy-button {
    display: block;
    padding: .6em 1em .6em 1em;
    max-width: 14em;
    text-align: center;
    margin-left: 0;
    margin-right: 1em;
    background-color: white;
    color: #000000;
    text-decoration: none;
    font-size: 22px;
}

.current-menu-item a {
    color: #093861;
    text-decoration: underline;
}

.services-link a {
    color: $blue-color;
}

.book-link a {
    // Readability suffers if it is set to the default green color
    color: #5ba234;
}

.talks-link a {
    color: $red-color;
}

// Home Link 
.home-link {
    font-size: 22px;
    text-decoration: none;
    display: block;
    margin-top: 55px;
    color: #FFFFFF;
}