.comment-list {
    @extend .list-unstyled;
}

.comment-list ol {
    list-style: none;
}

.comment-form p {
    @extend .form-group;
}

.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form input[type="url"],
.comment-form textarea {
    @extend .form-control;
}

.comment-form input[type="submit"] {
    @extend .btn;
    @extend .btn-secondary;
    border-radius: 0;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
}

.comment {
    padding: 1.2em;
    color: $dark-text-color;
    border-bottom: 2px solid $dark-text-color;

    .children{
        .comment{
            background-color: $light-color;
            border: none;

        }
    }
    .comment-author {
        img {
            display: none;
        }

    }
}

.comments {
    h3 {
        font-family: 'Archivo Narrow', sans-serif;
        border-bottom: none;
        background-color: $dark-color;
        color: $light-color;
        padding-left: 0.2em;
        padding-bottom: 0.1em;
        padding-top: 0.1em;
    }
    .comment-respond {
        #reply-title {
            font-family: 'Archivo Narrow', sans-serif;
            margin-top: 1.2em;
        }
        .comment-form-comment textarea {
            border-radius: 0;
        }
    }
}