// Search form
.search-form {
    @extend .form-inline;
}

.search-form label {
    font-weight: normal;
    @extend .form-group;
}

.search-form .search-field {
    @extend .form-control;
}

.search-form .search-submit {
    @extend .btn;
    @extend .btn-secondary;
}

// Contact Form Errors:
.wpcf7-response-output {
    position: absolute;
    top: -12px;
    width: 100%;
    left: -12px;
    height: 120px;
    padding-top: 40px!important;
    background-color: red;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.ajax-loader {
    display: none;
}

// Contact
.contact-form {
    grid-area: contact;
    input,
    textarea {
        background: none;
        border: none;
        font-size: 14px;
        color: #fff!important;
        padding: 0.6em;
        margin-top: 0.2em;
        width: 50%;
        margin-bottom: 0.5em;
        background-color: #404e4d;
    }
    p {
        font-size: 1.2em;
        margin-bottom: 2em;
    }
    [type=submit] {
        border: none;
        border-radius: 0;
        background-color: #fff;
        text-decoration: none;
        color: #2C2F2F!important;
        padding: .1em .5em;
        font-size: 22px;
        width: auto;
        font-family: 'Archivo Narrow', sans-serif;
    }
    textarea {
        max-height: 80px;
    }
    input::-moz-placeholder,
    textarea::-moz-placeholder {
        color: #FFFFFF;
    }
    input::-webkit-input-placeholder,
    textarea::-webkit-input-placeholder {
        color: #FFFFFF;
    }
}