// Grid Container
.page-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.home-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "header header header" "phd phd phd" "speaker author person" "footer footer footer";
    grid-gap: $grid-gap;
    flex: 1;
}
