html,
body {
    padding: 0;
    height: 100%;
    margin: 0;
}

body {
    background-color: #FFFFFF;
    font-family: 'lunchtype25condensed_light', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4 {
    font-family: 'lunchtype25', sans-serif;
    font-weight: 600;
}

h1{
    font-family: 'lunchtype23light_italic';
}
p {
    margin-bottom: 0.5rem;
    font-size: 1.2em;
}

*:focus {
    outline: none;
}

.name-tag-picture {
    background-size: cover;
}

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}