@include media-query($on-palm) {
    .standard-layout{
        max-width: 100%;
    }
    .box {
        padding: 1.5em;
        .upper-message {
            h1 {
                margin-bottom: 0.5em;
            }
        }
        .right{
            display: none;
        }

    }
    .author .inner-wrapper .buy{
        display: block;
        margin: 0 auto;
        .buy-button{
            margin: 0 auto;
        }
    }
    .home-wrapper {
        grid-template-columns: 1fr;
        .name-tag {
            margin-top: 1em;
            padding: 0;
            flex-wrap: wrap;
            padding-left: 2em;
            .name-tag-picture {
                margin: 0;
                margin-bottom: 1em;
            }
            h1 {
                margin: 0;
            }
        }
        grid-template-areas: "header" "main-area" "green-area" "red-area" "yellow-area" "footer";
        .main-box {
            display: block;
            .right {
                display: none;
            }
        }
    }
    .sow-headline {
        font-size: 3rem!important;
    }
    .service {
        form {
            max-width: 100%;
            margin: 0;
        }
    }
    .post {
        width: 100%;
        padding: 1em;
        max-width: 100%;
    }
    .inner-wrapper {
        padding: 1em;
        h1 {
            font-size: 5rem;
        }
    }
    .footer {
        padding: 1em;
        p {
            margin-top: 0.5em;
            margin-left: 0;
        }
        .name-tag {
            text-align: left;
            padding: 0;
            flex-direction: column;
            display: block;
            a {
                margin-left: 0;
                margin-right: 0.5em;
            }
            h1 {
                a {
                    margin: 0;
                }
                margin: 0;
                margin-bottom: 0.5em;
            }
        }
    }
}