
// Global Color Variables
$blue-color: #5BC0EB;
$green-color: #95E06C;
$yellow-color: #FDE74C;
$red-color: #f95754;
$dark-color: #404E4D;
$dark-text-color: #2c2f2f;
$light-color: #DCDEDE;
$black-color: #0C0F0E;

// Gap
$grid-gap: 1rem;

