// Footer
.footer {
    background-color: #FFFFFF;
    grid-area: footer;
    p {
        color: #000;
        margin-left: 1em;
    }
    .author-link a {
        color: #57d785;
    }
    .services-link a {
        color: #3151b7;
    }
    .speaker-link a {
        color: #ff5c49;
    }
}