.name-tag {
    text-align: left;
    display: flex;
    align-items: center;
    padding: 10px;
    grid-area: header;
    color: #000000;

    a, p{
        margin-left: 12px;
    }
    p{
        margin-left: 2em;
    }

    h1{
        font-weight: 100;
        font-size: 45px;
        margin-right: 2.2em;
        a{
            color: #000000;
        }
        a:hover{
            text-decoration: none;
        }
    }
    
    .name-tag-picture{
        width: 8em;
        height: 8em;
        margin-right: 2.2em;
        border: 4px solid black;
    }
}



