// Blog Page
article {
    margin-bottom: 2.2em;
    .author {
        display: none;
    }
    .entry-title {
        margin: 0;
        a {
            font-family: 'Archivo Narrow', sans-serif;
            background-color: #000000;
            color: $blue-color;
            padding-left: 0.2em;
            margin: 0;
            color: #fff;
            width: 100%;
            display: block;
            margin-left: -0.2em;
        }
        a:hover {
            text-decoration: none!important;
        }
    }
    time {
        color: gray;
    }
    .entry-summary {
        margin-top: 0.5em;
        font-size: 16px;
        a {
            background-color: black;
            padding: 0.2em;
            color: white;
        }
    }
}

.post {
    padding: 2.2em;
    max-width: 65%;
    p {
        font-size: 20px;
    }
        header {
        h1.blog-header {
            font-size: 7rem!important;
            font-weight: 400;
            margin-top: 42px;
            margin-bottom: 42px;
        }
    }
}