.service, .background{
    max-width: 65%;

    h3{
       font-family: 'Archivo Narrow', sans-serif;
       border-bottom: 1px solid #ffffff;
       background-color: #ffffff;
       color:  $blue-color;
       padding-left: 0.2em;
    }
    p{
        font-size: 1.2em;
    }
}
.psychologist-header{
    text-align: left;
    .sow-headline{
        text-align: left!important;
    }
}