// Blog
.blog {
    h1 {
        color: $dark-text-color!important;
    }
}

// Services
.services {
    background-color: $blue-color;
    h1 {
        color: $dark-text-color;
    }
}

.service,
.background {
    max-width: 65%;
    h3 {
        font-family: 'Archivo Narrow', sans-serif;
        border-bottom: none;
        background-color: $dark-color;
        color: $light-color;
        padding-left: 0.2em;
        padding-bottom: 0.1em;
        padding-top: 0.1em;
    }
    p {
        font-size: 1.2em;
    }
    form {
        max-width: 64%;
        margin-left: 4em;
    }
}

.psychologist-header {
    text-align: left;
    .sow-headline {
        text-align: left!important;
    }
}

// Media
.media {
    background-color: $black-color;
    color: $light-color;
    flex-direction: column;
    .media-header {
        h3 {
            font-family: 'Archivo Narrow', sans-serif;
            font-size: 30px;
            margin-bottom: 0;
            background-color: #ffffff;
            color: #000;
            padding-left: 0.2em;
        }
        .decoration {
            display: none;
        }
    }
    .media-description {
        p {
            font-size: 20px;
        }
    }
    .home-link {
        color: #ffffff;
    }
}

// Author
.author {
    background-color: $green-color;
    h1 {
        color: $dark-text-color;
    }
    h3 {
        font-family: 'Archivo Narrow', sans-serif;
        border-bottom: none;
        background-color: $dark-color;
        color: $light-color;
        padding-left: 0.2em;
        padding-bottom: 0.1em;
        padding-top: 0.1em;
    }
}

.book {
    max-width: 65%;
    .inner {
        display: flex;
        align-items: center;
    }
    h2 {
        font-family: 'Archivo Narrow', sans-serif;
        font-size: 30px;
    }
    .decoration {
        display: none;
    }
    .description {
        display: flex;
        flex-direction: column;
        p {
            font-size: 22px;
            color: $dark-text-color;
        }
    }
    img {
        margin: 0 auto;
        display: block;
        background-color: #ffffff;
    }
}

.buy {
    display: flex;
}

.sow-testimonials {
    display: flex;
    .sow-testimonial {
        height: 100%;
        .sow-text span {
            font-size: 16px;
        }
        .sow-testimonial-text {
            p {
                font-size: 22px;
            }
        }
        .sow-testimonial-user {
            width: auto!important;
            float: none!important;
            border-bottom: 2px solid $green-color;
        }
        .sow-testimonial-text {
            margin-left: 0!important;
        }
    }
}

.widget-title {
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 30px;
    margin-bottom: 1em;
}

// Speaker
.speaker {
    background-color: $red-color;
    color: $dark-text-color;
    h1 {
        color: $dark-text-color;
    }
}

.speech {
    max-width: 65%;
    .sow-headline-container {
        .sow-headline {
            font-family: 'Archivo Narrow', sans-serif;
            font-size: 30px;
            margin-bottom: 0;
            background-color: $dark-color;
            color: $light-color;
            padding-left: 0.2em;
        }
        .decoration {
            display: none;
        }
        h3 {
            font-family: 'Archivo Narrow', sans-serif;
            font-size: 20px;
        }
    }
    p {
        font-size: 1.2em;
    }
}

// Human
.human {
    background-color: $yellow-color;
    p {
        font-size: 20px;
        color: $dark-text-color;
    }
        h1 {
        color: $dark-text-color;
    }
}

.home-link {
    color: $dark-text-color;
}

.home-link:hover {
    color: $dark-color;
}