// Blog
.blog {
    h1 {
        color: $dark-text-color!important;
    }
}

// Blue Template
.blue-template {
    background-color: $blue-color;
    h1 {
        color: $dark-text-color;
    }
}

.standard-layout{
    max-width: 65%;
}

.home-link {
    color: $dark-text-color;
}

.home-link:hover {
    color: $dark-color;
}